%h1 Sign-Up

= form_tag new_user_path do

  = label :users, :user_id, 'User-ID'
  = text_field :user, 'User-ID', id => 'signupUser'

  = label :user, :email, 'E-Mail'
  = text_field :user, 'E-Mail', id => 'signupEmail'

  = submit_tag 'Create my account', id => 'signupCreate'
