%h1 Sign-Up

= form_tag new_user_path do

  = label :users, :user_id, 'User-ID'
  = text_field :users, 'User-ID'

  = label :users, :email, 'E-Mail'
  = text_field :users, 'E-Mail'

  = submit_tag 'Save Changes'
