%h1 Sign-Up

= form_tag new_user_path do

  = label :users, :title, 'User-ID'
  = text_field :users, 'User-ID'

  = label :users, :email, 'E-Mail'
  = text_field :email, 'E-Mail'

  = submit_tag 'Create my account'
